{{ partial "tagcloud.html" . }}

<center>
    <!-- Place this tag where you want the button to render.
    <a class="github-button" href="https://github.com/retorquere/zotero-better-bibtex/releases/latest" data-icon="octicon-cloud-download" aria-label="Download Better BibTeX for Zotero">Download</a>
    -->

    <!-- Place this tag where you want the button to render. -->
    <a class="github-button" href="https://github.com/retorquere/zotero-better-bibtex" data-icon="octicon-star" data-show-count="true" aria-label="Star retorquere/zotero-better-bibtex on GitHub">Star</a>

    <!-- Place this tag where you want the button to render.
    <a class="github-button" href="https://github.com/retorquere/zotero-better-bibtex/fork" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork retorquere/zotero-better-bibtex on GitHub">Fork</a>
    -->
</center>
<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
