{{ partial "content-header.html" . }}
  
{{ if eq .Kind "section" }}
  {{ .Content }}
{{end}}

{{ if or (eq .Kind "taxonomy") (eq .Kind "taxonomyTerm") (eq .Kind "term") }}
<ul>
  {{ range .Pages }}
    {{ if .File }}
      <li>{{ template "page-path" dict "currentPage" . "id" .File.UniqueID }}</li>
    {{ end }}
  {{ end }}
</ul>
{{end}}

<footer class=" footline" >
  {{with .Params.LastModifierDisplayName}}
      <i class='fas fa-user'></i> <a href="mailto:{{ $.Params.LastModifierEmail }}">{{ . }}</a> {{with $.Date}} <i class='fas fa-calendar'></i> {{ .Format "02/01/2006" }}{{end}}
      </div>
  {{end}}
</footer>

{{ partial "content-footer.html" . }}

{{ define "page-path" }}
    {{ if .currentPage.Parent }}
      {{ if not .currentPage.Parent.IsHome }}
        {{ template "page-path" dict "currentPage" .currentPage.Parent }}
      {{ end }}
    {{ end }}

    {{ if eq .id .currentPage.File.UniqueID }}
      <a href="{{ .currentPage.Permalink }}">{{ .currentPage.Title }}</a>
    {{ else }}
      {{ .currentPage.Title }} &gt;
    {{ end }}
{{ end }}
