*~
*.priv.pem
*.swp
*.debug
*.cache
*.status
*.keys
*.serialized
.bundle
*.js
*.js.map
.depend.mf
resource/translators/latex_unicode_mapping.coffee
resource/translators/mathchar.pegcoffee
resource/translators/*.json
test/fixtures/plugins
tmp
update.rdf
*.xpi
*.log
node_modules
bin/github-release
.ruby-version
vendor
.pushbullet
