[submodule "citation-style-language-locales"]
	path = citation-style-language-locales
	url = https://github.com/citation-style-language/locales.git
	branch = master
[submodule "bbt/themes/learn"]
	path = site/themes/learn
	url = https://github.com/matcornic/hugo-theme-learn.git
[submodule "babel"]
	path = babel
	url = https://github.com/latex3/babel.git
	branch = main
