*~
*.priv.pem
*.swp
*.debug
*.cache
*.status
*.keys
*.serialized
.bundle
*.js
*.translator
*.js.map
*.tmp
.depend.mf
resource/translators/*.json
test/fixtures/plugins
tmp
*.xpi
*.log
*.run
node_modules
bin/github-release
.ruby-version
vendor
.pushbullet
resource/reports/cacheActivity.txt
wiki
*.sqlite
*.deb
.DS_Store
