[submodule "citation-style-language-locales"]
	path = citation-style-language-locales
	url = https://github.com/citation-style-language/locales.git
	branch = master
[submodule "webpack"]
	path = webpack
	url = https://github.com/retorquere/zotero-plugin-webpack.git
	branch = master
