checkbox(preference="extensions.zotero.translators.better-bibtex.asciiBibLaTeX" label="&better-bibtex_preferences_export_biblatex_ascii_label;")
checkbox(preference="extensions.zotero.translators.better-bibtex.biblatexExtendedNameFormat" label="&better-bibtex_preferences_export_biblatex_extended-name-format_label;")
checkbox(preference="extensions.zotero.translators.better-bibtex.biblatexExtractEprint" label="&better-bibtex_preferences_export_biblatex_biblatex-extract-eprint_label;")
