checkbox(preference="extensions.zotero.translators.better-bibtex.asciiBibTeX" label="&better-bibtex.Preferences.export.bibtex.ascii;")
checkbox(preference="extensions.zotero.translators.better-bibtex.bibtexParticleNoOp" label="&better-bibtex.Preferences.export.fields.bibtexParticleNoOp;")
hbox
  label(bbt:preference="extensions.zotero.translators.better-bibtex.bibtexURL") &better-bibtex.Preferences.export.bibtex.URLs;:
  image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
hbox
  menulist(preference="extensions.zotero.translators.better-bibtex.bibtexURL")
    menupopup
      menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.off;" value="off")
      menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.note;" value="note")
      menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.note-url-ish;" value="note-url-ish")
      menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.url;" value="url")
      menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.url-ish;" value="url-ish")
  hbox(flex='1')
