checkbox(preference="extensions.zotero.translators.better-bibtex.asciiBibTeX" label="&better-bibtex.Preferences.export.bibtex.ascii;")
checkbox(preference="extensions.zotero.translators.better-bibtex.bibtexParticleNoOp" label="&better-bibtex.Preferences.export.fields.bibtexParticleNoOp;")
hbox
  label(bbt:preference="extensions.zotero.translators.better-bibtex.bibtexURL") &better-bibtex.Preferences.export.bibtex.URLs;:
  image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
hbox
  html:select(preference="extensions.zotero.translators.better-bibtex.bibtexURL")
    html:option(value='off') &better-bibtex.Preferences.export.bibtex.URLs.off;
    html:option(value='note') &better-bibtex.Preferences.export.bibtex.URLs.note;
    html:option(value='note-url-ish') &better-bibtex.Preferences.export.bibtex.URLs.note-url-ish;
    html:option(value='url') &better-bibtex.Preferences.export.bibtex.URLs.url;
    html:option(value='url-ish') &better-bibtex.Preferences.export.bibtex.URLs.url-ish;
  hbox(flex='1')
