checkbox(preference="extensions.zotero.translators.better-bibtex.asciiBibTeX" label="&better-bibtex.Preferences.export.bibtex.ascii;")
checkbox(preference="extensions.zotero.translators.better-bibtex.bibtexParticleNoOp" label="&better-bibtex.Preferences.export.fields.bibtexParticleNoOp;")
checkbox(preference="extensions.zotero.translators.better-bibtex.bibtexEditionOrdinal" label="&better-bibtex.Preferences.export.fields.bibtexEditionOrdinal;")
hbox(flex=0)
  label(bbt:preference="extensions.zotero.translators.better-bibtex.bibtexURL") &better-bibtex_preferences_export_bibtex_urls;:
  image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/content/skin/attention.svg" width="16" height="16")
hbox(flex=0)
  html:select(preference="extensions.zotero.translators.better-bibtex.bibtexURL")
    html:option(value='off') &better-bibtex_preferences_export_bibtex_urls_off;
    html:option(value='note') &better-bibtex_preferences_export_bibtex_urls_note;
    html:option(value='note-url-ish') &better-bibtex_preferences_export_bibtex_urls_note-url-ish;
    html:option(value='url') &better-bibtex_preferences_export_bibtex_urls_url;
    html:option(value='url-ish') &better-bibtex_preferences_export_bibtex_urls_url-ish;
  hbox(flex=1)
