groupbox
  caption(bbt:preference="extensions.zotero.translators.better-bibtex.language") &better-bibtex.Preferences.export.fields.language;
  radiogroup(preference="extensions.zotero.translators.better-bibtex.language" preference-editable="true")
    radio(label="&better-bibtex.Preferences.export.fields.language.langid;" value="langid")
    radio(label="&better-bibtex.Preferences.export.fields.language.language;" value="language")
    radio(label="&better-bibtex.Preferences.export.fields.language.both;" value="both")
groupbox
  caption(bbt:preference="extensions.zotero.translators.better-bibtex.DOIandURL") &better-bibtex.Preferences.export.fields.doi-and-url;
    image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
  radiogroup(preference="extensions.zotero.translators.better-bibtex.DOIandURL" preference-editable="true")
    radio(label="&better-bibtex.Preferences.export.fields.doi-and-url.both;" value="both")
    radio(label="&better-bibtex.Preferences.export.fields.doi-and-url.DOI;" value="doi")
    radio(label="&better-bibtex.Preferences.export.fields.doi-and-url.URL;" value="url")
hbox
  label(bbt:preference="extensions.zotero.translators.better-bibtex.skipFields") &better-bibtex.Preferences.export.fields.skip;:
  textbox#id-better-bibtex-preferences-skipFields(size='30' preference='extensions.zotero.translators.better-bibtex.skipFields')
groupbox
  caption(bbt:preference="extensions.zotero.translators.better-bibtex.jabrefFormat") &better-bibtex.Preferences.export.jabrefFormat;
    image(tooltip="tooltip-jabrefFormat" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
  radiogroup(preference="extensions.zotero.translators.better-bibtex.jabrefFormat" preference-editable="true")
    radio(label="&better-bibtex.Preferences.export.jabrefFormat.0;" value="0")
    radio(label="&better-bibtex.Preferences.export.jabrefFormat.3;" value="3")
    radio(label="&better-bibtex.Preferences.export.jabrefFormat.4;" value="4")
    radio(label="&better-bibtex.Preferences.export.jabrefFormat.5;" value="5")
