groupbox
  caption &better-bibtex_preferences_export_quick-copy_explanation;
  vbox(style='height: 14em;' flex=1)
    hbox(flex=0)
      label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyMode') &better-bibtex_preferences_export_quick-copy_format;
      menulist#id-better-bibtex-preferences-quickCopyMode(preference='extensions.zotero.translators.better-bibtex.quickCopyMode' preference-editable='true' onchange='document.getElementById("quickCopyDetails").selectedIndex = this.selectedIndex')
        menupopup
          menuitem(value='latex' label='&better-bibtex_preferences_export_quick-copy_latex.label;')
          menuitem(value='citekeys' label='&better-bibtex_preferences_export_quick-copy_citekeys.label;')
          menuitem(value='pandoc' label='&better-bibtex_preferences_export_quick-copy_pandoc.label;')
          menuitem(value='orgmode' label='&better-bibtex_preferences_export_quick-copy_org-mode.label;')
          menuitem(value='orgRef' label='&better-bibtex_preferences_export_quick-copy_org-ref.label;')
          menuitem(value='orgRef3' label='&better-bibtex_preferences_export_quick-copy_org-ref3.label;')
          menuitem(value='rtfScan' label='&better-bibtex_preferences_export_quick-copy_rtf-scan.label;')
          menuitem(value='roamCiteKey' label='&better-bibtex_preferences_export_quick-copy_roam-cite-key.label;')
          menuitem(value='atom' label='Atom;')
          menuitem(value='gitbook' label='GitBook')
          menuitem(value='selectlink' label='&better-bibtex_preferences_export_quick-copy_select-link.label;')
          menuitem(value='eta' label='&better-bibtex_preferences_export_quick-copy_eta-template.label;')

    deck#quickCopyDetails
      hbox#better-bibtex-preferences-quickcopy-latex(align='start')
        label(bbt:preference='extensions.zotero.translators.better-bibtex.citeCommand') &better-bibtex_preferences_export_quick-copy_latex_command;
        textbox(size='10' preference='extensions.zotero.translators.better-bibtex.citeCommand' onchange='Zotero.BetterBibTeX.PrefPane.refresh();' onkeypress='Zotero.setTimeout(function() { Zotero.BetterBibTeX.PrefPane.refresh() }, 1);')

      hbox#better-bibtex-preferences-quickcopy-citekeys

      hbox#better-bibtex-preferences-quickcopy-pandoc(align='start')
        checkbox#id-better-bibtex-preferences-quickCopyPandocBrackets(preference='extensions.zotero.translators.better-bibtex.quickCopyPandocBrackets' label='&better-bibtex_preferences_export_quick-copy_pandoc_brackets.label;')

      hbox#better-bibtex-preferences-quickcopy-orgmode(align='start' flex=0)
        label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode') &better-bibtex_preferences_export_quick-copy_org-mode;
        menulist(preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode')
          menupopup
            menuitem(value='zotero' label='&better-bibtex_preferences_export_quick-copy_org-mode_zotero.label;')
            menuitem(value='citationkey' label='&better-bibtex_preferences_export_quick-copy_org-mode_citekey.label;')

      hbox#better-bibtex-preferences-quickcopy-orgRef

      hbox#better-bibtex-preferences-quickcopy-orgRef3

      hbox#better-bibtex-preferences-quickcopy-rtfScan

      hbox#better-bibtex-preferences-quickcopy-roamCiteKey

      hbox#better-bibtex-preferences-quickcopy-atom
        label.text-link(onclick='Zotero.launchURL("https://atom.io/packages/zotero-citations")') https://atom.io/packages/zotero-citations

      hbox#better-bibtex-preferences-quickcopy-gitbook

      hbox#better-bibtex-preferences-quickcopy-selectLink(align='start' flex=0)
        label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink') &better-bibtex_preferences_export_quick-copy_select-link;
        menulist(preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink')
          menupopup
            menuitem(value='zotero' label='&better-bibtex_preferences_export_quick-copy_select-link_zotero.label;')
            menuitem(value='citationkey' label='&better-bibtex_preferences_export_quick-copy_select-link_citekey.label;')

      vbox#better-bibtex-preferences-quickcopy-eta(flex='1' align='start')
        label.text-link(onclick='Zotero.launchURL("https://retorque.re/zotero-better-bibtex/installation/preferences/export/#quick-copydrag-and-drop-citations")' bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyEta') &better-bibtex_preferences_export_quick-copy_eta-template;
        textbox(rows='10' multiline='true' flex='1' preference='extensions.zotero.translators.better-bibtex.quickCopyEta')
      script.
        var qcm = Zotero.Prefs.get('translators.better-bibtex.quickCopyMode')
        var si = Array.from(document.getElementById('id-better-bibtex-preferences-quickCopyMode').options).findIndex(option => option.value === qcm)
        dump(`quickCopyDetails: ${qcm} = ${si}\n`)
        document.getElementById("quickCopyDetails").selectedIndex = si >= 0 ? si : 0
