groupbox
  caption &better-bibtex.Preferences.export.quickCopy.explanation;
  vbox(style='height: 14em;' flex='1')
    hbox
      label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyMode') &better-bibtex.Preferences.export.quickCopy.format;
      html:select#id-better-bibtex-preferences-quickCopyMode(preference='extensions.zotero.translators.better-bibtex.quickCopyMode' preference-editable='true' onchange='document.getElementById("quickCopyDetails").selectedIndex = this.selectedIndex')
        html:option(value='latex') &better-bibtex.Preferences.export.quickCopy.latex;
        html:option(value='citekeys') &better-bibtex.Preferences.export.quickCopy.citekeys;
        html:option(value='pandoc') &better-bibtex.Preferences.export.quickCopy.pandoc;
        html:option(value='orgmode') &better-bibtex.Preferences.export.quickCopy.orgMode;
        html:option(value='orgRef') &better-bibtex.Preferences.export.quickCopy.orgRef;
        html:option(value='orgRef3') &better-bibtex.Preferences.export.quickCopy.orgRef3;
        html:option(value='rtfScan') &better-bibtex.Preferences.export.quickCopy.rtfScan;
        html:option(value='roamCiteKey') &better-bibtex.Preferences.export.quickCopy.roamCiteKey;
        html:option(value='atom') &better-bibtex.Preferences.export.quickCopy.atom;
        html:option(value='gitbook') &better-bibtex.Preferences.export.quickCopy.gitbook;
        html:option(value='selectlink') &better-bibtex.Preferences.export.quickCopy.selectLink;
        html:option(value='eta') &better-bibtex.Preferences.export.quickCopy.etaTemplate;

    deck#quickCopyDetails
      //- latex
      hbox(align='start')
        label(bbt:preference='extensions.zotero.translators.better-bibtex.citeCommand') &better-bibtex.Preferences.export.quickCopy.latex.command;
        textbox(size='10' preference='extensions.zotero.translators.better-bibtex.citeCommand' onchange='Zotero.BetterBibTeX.PrefPane.refresh();' onkeypress='Zotero.setTimeout(function() { Zotero.BetterBibTeX.PrefPane.refresh() }, 1);')

      //- citekeys
      hbox

      //- pandoc
      hbox(align='start')
        checkbox#id-better-bibtex-preferences-quickCopyPandocBrackets(preference='extensions.zotero.translators.better-bibtex.quickCopyPandocBrackets' label='&better-bibtex.Preferences.export.quickCopy.pandoc.brackets;')

      //- orgmode
      hbox(align='start')
        label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode') &better-bibtex.Preferences.export.quickCopy.orgMode;
        html:select(preference='extensions.zotero.translators.better-bibtex.quickCopyOrgMode')
          html:option(value='zotero') &better-bibtex.Preferences.export.quickCopy.orgMode.zotero;
          html:option(value='citationkey') &better-bibtex.Preferences.export.quickCopy.orgMode.citekey;

      //- orgRef
      hbox

      //- orgRef3
      hbox

      //- rtfScan
      hbox

      //- roamCiteKey
      hbox

      //- atom
      hbox

      //- gitbook
      hbox

      //- selectlink
      hbox(align='start')
        label(bbt:preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink') &better-bibtex.Preferences.export.quickCopy.selectLink;
        html:select(preference='extensions.zotero.translators.better-bibtex.quickCopySelectLink')
          html:option(value='zotero') &better-bibtex.Preferences.export.quickCopy.selectLink.zotero;
          html:option(value='citationkey') &better-bibtex.Preferences.export.quickCopy.selectLink.citekey;

      //- eta
      vbox(align='start')
        label.text-link(href='https://retorque.re/zotero-better-bibtex/installation/preferences/citation-keys/#quick-copydrag-and-drop-citations' bbt:preference='extensions.zotero.translators.better-bibtex.quickCopyEta') &better-bibtex.Preferences.export.quickCopy.etaTemplate;
        textbox(rows='10' multiline='true' preference='extensions.zotero.translators.better-bibtex.quickCopyEta')

