doctype xml
RDF(xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:em="http://www.mozilla.org/2004/em-rdf#")
  Description(about="urn:mozilla:install-manifest")
    em:name Zotero Better Bib(La)Tex
    em:id better-bibtex@iris-advies.com
    em:version= version
    em:description Make Zotero useful for us LaTeX holdouts.
    em:homepageURL https://github.com/retorquere/zotero-better-bibtex/wiki
    em:creator Emiliano Heyns
    em:iconURL chrome://zotero-better-bibtex/skin/better-bibtex.svg
    em:updateURL https://retorquere.github.io/zotero-better-bibtex/update.rdf
    em:type 2
    em:optionsURL chrome://zotero/content/preferences/preferences.xul#better-bibtex
    em:targetApplication
      Description
        em:id zotero@chnm.gmu.edu
        em:minVersion 5.0
        em:maxVersion 5.0.*
      Description
        em:id juris-m@juris-m.github.io
        em:minVersion 5.0
        em:maxVersion 5.0.*
