doctype xml
RDF:RDF(xmlns:RDF="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:em="http://www.mozilla.org/2004/em-rdf#")
  RDF:Description(about=`urn:mozilla:extension:${id}`)
    em:updates
      RDF:Seq
        RDF:li
          RDF:Description
            em:version= version
            em:targetApplication
              RDF:Description
                em:id zotero@chnm.gmu.edu
                em:minVersion 5.0
                em:maxVersion 5.0.*
                em:updateLink= updateLink
                if updateInfoURL
                  em:updateInfoURL= updateInfoURL
            em:targetApplication
              RDF:Description
                em:id juris-m@juris-m.github.io
                em:minVersion 5.0
                em:maxVersion 5.0.*
                em:updateLink= updateLink
                if updateInfoURL
                  em:updateInfoURL= updateInfoURL
