| <?xml version="1.0"?>
| <?xml-stylesheet href="chrome://global/skin/" type="text/css"?>
| <?xml-stylesheet href="chrome://global/skin/global.css"?>
| <?xml-stylesheet href="chrome://zotero-platform/content/preferences.css"?>
| <?xml-stylesheet href="chrome://browser/skin/preferences/preferences.css"?>
| <?xml-stylesheet href="chrome://zotero/skin/preferences.css"?>
| <?xml-stylesheet href="chrome://zotero/skin/zotero.css"?>
| <?xml-stylesheet href="chrome://zotero-platform/content/preferences.css"?>
| <?xml-stylesheet href="chrome://zotero-better-bibtex/skin/preferences.css"?>
| <?xml-stylesheet href="chrome://zotero-better-bibtex/skin/error-report.css" type="text/css"?>
| <!DOCTYPE prefwindow SYSTEM "chrome://zotero-better-bibtex/locale/zotero-better-bibtex.dtd">
prefwindow(title='&better-bibtex.Preferences.prefpane.better-bibtex;' xmlns='http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul' xmlns:html='http://www.w3.org/1999/xhtml')
  include Preferences/prefpane.pug
