| <?xml version="1.0"?>
| <!DOCTYPE window SYSTEM "chrome://zotero-better-bibtex/locale/zotero-better-bibtex.dtd">
overlay#zotero-better-bibtex-preferences(xmlns="http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul", xmlns:html="http://www.w3.org/1999/xhtml", xmlns:bbt="http://retorque.re/zotero-better-bibtex/")
  prefwindow#zotero-prefs
    prefpane#zotero-prefpane-better-bibtex(insertafter="zotero-prefpane-advanced", label="&better-bibtex.BetterBibTeX;", image="chrome://zotero-better-bibtex/skin/bibtex.svg")
      vbox
        button#better-bibtex-open-prefs(label="&better-bibtex.Preferences.open;", oncommand="window.openDialog('chrome://zotero-better-bibtex/content/Preferences.xul', 'better-bibtex-prefs-window')")

