#zotero-items-tree treechildren::-moz-tree-image(bbtLoading)
{
  margin: 1px 5px 0;
  list-style-image: url(chrome://zotero-better-bibtex/skin/loading.gif);
  height: 16px;
}

#zotero-items-tree treechildren::-moz-tree-cell-text(bbtDynamicCitationKey) {
  font-style: italic;
}
