button(label="&better-bibtex.Preferences.rescan-citekeys;" oncommand="bbt_prefpane.rescanCitekeys()")
hbox
  label(bbt:preference="pref-better-bibtex-warnBulkModify") &better-bibtex.Preferences.bulkWarning;
  textbox(size="5" preference="pref-better-bibtex-warnBulkModify")
groupbox
  caption(label="&better-bibtex.Preferences.advanced.extraMerge;")
  checkbox(preference="pref-better-bibtex-extraMergeCitekeys" label="&better-bibtex.Preferences.advanced.extraMergeCitekeys;")
  checkbox(preference="pref-better-bibtex-extraMergeCSL" label="&better-bibtex.Preferences.advanced.extraMergeCSL;")
  checkbox(preference="pref-better-bibtex-extraMergeTeX" label="&better-bibtex.Preferences.advanced.extraMergeTeX;")
groupbox
  caption(label="&better-bibtex.Preferences.advanced.ideographs;")
  checkbox(preference="pref-better-bibtex-kuroshiro" label="&better-bibtex.Preferences.advanced.ideographs.kuroshiro;")
  checkbox(preference="pref-better-bibtex-jieba" label="&better-bibtex.Preferences.advanced.ideographs.jieba;")
