hbox
  checkbox(preference="pref-better-bibtex-exportTitleCase" label="&better-bibtex.Preferences.advanced.export.titleCase;")
  image(tooltip="tooltip-exportTitleCase" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
hbox
  checkbox(preference="pref-better-bibtex-exportBraceProtection" label="&better-bibtex.Preferences.advanced.export.braceProtection;")
  image(tooltip="tooltip-exportBraceProtection" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
hbox
  checkbox(preference="pref-better-bibtex-retainCache" label="&better-bibtex.Preferences.advanced.export.retainCache;")
  image(tooltip="tooltip-retainCache" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
hbox
  label(bbt:preference="pref-better-bibtex-workersMax") &better-bibtex.Preferences.advanced.export.workers;
  scale(min="1" max="10" preference="pref-better-bibtex-workersMax")
  checkbox(preference="pref-better-bibtex-workersCache" label="&better-bibtex.Preferences.advanced.export.workers.cache;")
label.better-bibtex-preferences-worker-state
button(label="&better-bibtex.Preferences.resetCache;" oncommand="bbt_prefpane.cacheReset()")
