textbox#zotero-better-bibtex-postscript(rows="10" flex="1" multiline="true" preference="pref-better-bibtex-postscript" onblur="bbt_prefpane.checkPostscript();" oninput="bbt_prefpane.checkPostscript();" onkeypress="Zotero.setTimeout(function() { bbt_prefpane.checkPostscript() }, 1);")
textbox#better-bibtex-cache-warn-postscript.plain.textbox-emph(rows="2" multiline="true" flex="1" readonly="true" value="&better-bibtex.Preferences.postscript.warn;")
