checkbox(preference="pref-better-bibtex-importBibTeXStrings" label="&better-bibtex.Preferences.export.fields.import-strings;")
textbox(rows="10" flex="1" multiline="true" preference="pref-better-bibtex-strings")
groupbox
  caption(label="&better-bibtex.Preferences.export.fields.export-strings;" bbt:preference="pref-better-bibtex-exportBibTeXStrings")
  radiogroup(preference="pref-better-bibtex-exportBibTeXStrings")
    radio(label="&better-bibtex.Preferences.export.fields.export-strings.off;" value="off")
    radio(label="&better-bibtex.Preferences.export.fields.export-strings.detect;" value="detect")
    radio(label="&better-bibtex.Preferences.export.fields.export-strings.match;" value="match")
    radio(label="&better-bibtex.Preferences.export.fields.export-strings.match_reverse;" value="match+reverse")
