groupbox
  caption(label="&better-bibtex_preferences_advanced_extra-merge.label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCitekeys" label="&better-bibtex_preferences_advanced_extra_merge-citekeys.label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCSL" label="&better-bibtex_preferences_advanced_extra-merge-csl.label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeTeX" label="&better-bibtex_preferences_advanced_extra_merge-tex.label;")
