groupbox
  caption(label="&better-bibtex_preferences_advanced_extra-merge_label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCitekeys" label="&better-bibtex_preferences_advanced_extra-merge-citekeys_label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCSL" label="&better-bibtex_preferences_advanced_extra-merge-csl_label;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeTeX" label="&better-bibtex_preferences_advanced_extra-merge-tex_label;")
