groupbox
  caption(label="&better-bibtex.Preferences.advanced.extraMerge;")
  checkbox(preference="pref-better-bibtex-extraMergeCitekeys" label="&better-bibtex.Preferences.advanced.extraMergeCitekeys;")
  checkbox(preference="pref-better-bibtex-extraMergeCSL" label="&better-bibtex.Preferences.advanced.extraMergeCSL;")
  checkbox(preference="pref-better-bibtex-extraMergeTeX" label="&better-bibtex.Preferences.advanced.extraMergeTeX;")
