groupbox
  caption(label="&better-bibtex.Preferences.advanced.extraMerge;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCitekeys" label="&better-bibtex.Preferences.advanced.extraMergeCitekeys;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeCSL" label="&better-bibtex.Preferences.advanced.extraMergeCSL;")
  checkbox(preference="extensions.zotero.translators.better-bibtex.extraMergeTeX" label="&better-bibtex.Preferences.advanced.extraMergeTeX;")
