textbox(preference='extensions.zotero.translators.better-bibtex.ascii')
textbox(preference='extensions.zotero.translators.better-bibtex.autoExportIdleWait')
checkbox(preference='extensions.zotero.translators.better-bibtex.biblatexExtendedDateFormat')
textbox(preference='extensions.zotero.translators.better-bibtex.cacheFlushInterval')
textbox(preference='extensions.zotero.translators.better-bibtex.charmap')
textbox(preference='extensions.zotero.translators.better-bibtex.csquotes')
radiogroup(preference='extensions.zotero.translators.better-bibtex.git')
  radio(value='off')
  radio(value='config')
  radio(value='always')
checkbox(preference='extensions.zotero.translators.better-bibtex.import')
checkbox(preference='extensions.zotero.translators.better-bibtex.importCitationKey')
checkbox(preference='extensions.zotero.translators.better-bibtex.importimportExtra')
checkbox(preference='extensions.zotero.translators.better-bibtex.importNoteToExtra')
radiogroup(preference='extensions.zotero.translators.better-bibtex.importUnknownTexCommand')
  radio(value='ignore')
  radio(value='tex')
  radio(value='text')
textbox(preference='extensions.zotero.translators.better-bibtex.itemObserverDelay')
textbox(preference='extensions.zotero.translators.better-bibtex.mapMath')
textbox(preference='extensions.zotero.translators.better-bibtex.mapText')
checkbox(preference='extensions.zotero.translators.better-bibtex.parseParticles')
textbox(preference='extensions.zotero.translators.better-bibtex.patchDates')
textbox(preference='extensions.zotero.translators.better-bibtex.postscriptOverride')
textbox(preference='extensions.zotero.translators.better-bibtex.preferencesOverride')
checkbox(preference='extensions.zotero.translators.better-bibtex.rawImports')
textbox(preference='extensions.zotero.translators.better-bibtex.rawLaTag')
checkbox(preference='extensions.zotero.translators.better-bibtex.relativeFilePaths')
textbox(preference='extensions.zotero.translators.better-bibtex.separatorList')
textbox(preference='extensions.zotero.translators.better-bibtex.separatorNames')
textbox(preference='extensions.zotero.translators.better-bibtex.skipWords')
radiogroup(preference='extensions.zotero.translators.better-bibtex.startupProgress')
  radio(value='popup')
  radio(value='progressbar')
textbox(preference='extensions.zotero.translators.better-bibtex.stringsOverride')
textbox(preference='extensions.zotero.translators.better-bibtex.verbatimFields')
checkbox(preference='extensions.zotero.translators.better-bibtex.warnTitleCased')
