checkbox(preference="extensions.zotero.translators.better-bibtex.importBibTeXStrings" label="&better-bibtex_preferences_export_fields_import-strings_label;")
label(bbt:preference="extensions.zotero.translators.better-bibtex.exportBibTeXStrings") &better-bibtex.Preferences.export.fields.export-strings;
hbox(flex=0)
  html:select(preference="extensions.zotero.translators.better-bibtex.exportBibTeXStrings")
    html:option(value='off') &better-bibtex_preferences_export_fields_export-strings_off;
    html:option(value='detect') &better-bibtex.Preferences.export.fields.export-strings.detect;
    html:option(value='match') &better-bibtex_preferences_export_fields_export-strings_match;
    html:option(value='match+reverse') &better-bibtex_preferences_export_fields_export-strings_match_reverse;
textbox(rows='10' multiline='true' preference='extensions.zotero.translators.better-bibtex.strings')
