checkbox(
  data-l10n-id='better-bibtex_preferences_export_fields_import-strings'
  preference='extensions.zotero.translators.better-bibtex.importBibTeXStrings'
  native='true'
)

label(
  data-l10n-id='better-bibtex_preferences_export_fields_export-strings'
  bbt:preference='extensions.zotero.translators.better-bibtex.exportBibTeXStrings'
)

menulist(preference='extensions.zotero.translators.better-bibtex.exportBibTeXStrings', native='true')
  menupopup
    menuitem(data-l10n-id='better-bibtex_preferences_export_fields_export-strings_off', value='off')
    menuitem(data-l10n-id='better-bibtex_preferences_export_fields_export-strings_detect', value='detect')
    menuitem(data-l10n-id='better-bibtex_preferences_export_fields_export-strings_match', value='match')
    menuitem(data-l10n-id='better-bibtex_preferences_export_fields_export-strings_match_reverse', value='match+reverse').

html:textarea(preference='extensions.zotero.translators.better-bibtex.strings', cols='80', rows='10')
