description {
	margin: 0 0 1.5em;
}

/* Intro pane */
#zotero-error-message, #zotero-references {
	background: #FFF;
}

#zotero-error-message .textbox-textarea {
	padding: 5px !important
}

#zotero-unrelated-message {
	margin: 1.5em 0 .5em;
}

#zotero-advance-message {
	margin: .5em 0;
}

/* Additional Info pane */
#zotero-email-address-box {
	margin-bottom: 1.5em;
}

#zotero-email-address-box {
	-moz-box-align: center;
}

#zotero-email-address-box label {
	margin-left: 0;
}

description.emph {
	color: red;
	font-weight: bold;
}

#zotero-error-steps-box description {
	margin-bottom: .4em;
}

.textbox-emph {
	color: red;
	/* font-weight: bold; */
}
input[type='text']:read-only {
  border: 0;
  background-color: lightgrey;
  outline: none;
}
textarea:read-only {
  border: 0;
  background-color: lightgrey;
  outline: none;
}

groupbox {
  border: 2px solid lightgrey;
  padding-top: 15px;
  position: relative;
  padding-left: 5px;
}

groupbox > caption {
  background-color: white;
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
}
