.bbt-progress-sprite {
  /* element coordinates */
  position: absolute;
  left: 0;
  top:  0;

  width: 20px;
  height: 20px;

  background-image: url(chrome://zotero-better-bibtex/content/skin/progress.svg);

  /* background coordinates */
  background-position: 0 0;
}
