<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      <div class="page">
        <h1 class="page-title">{{ page.title }}</h1>
        {{ content }}
      </div>
    </div>

  </body>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/anchor-js/1.1.1/anchor.min.js"></script>
  <script>
    anchors.options.visible = 'always';
    anchors.add('div.page h1, div.page h2, div.page h3');

    stickyHeaders.load($('h2'));
  </script>

</html>
