description &better-bibtex.Preferences.advanced.warning;
tabbox
  tabs
    tab(label="&better-bibtex.Preferences.advanced.tab.citekeys;")
    tab(label="&better-bibtex.Preferences.advanced.tab.import;")
    tab(bbt:preference="pref-better-bibtex-strings" label="&better-bibtex.Preferences.advanced.tab.strings;")

  tabpanels
    tabpanel(orient="vertical")
      include advanced/citekeys.pug

    tabpanel(orient="vertical")
      include advanced/import.pug

    tabpanel(orient="vertical")
      include advanced/strings.pug
