tabbox
  tabs
    tab(label='&better-bibtex.Preferences.export.bibtex;')
    tab(label='&better-bibtex.Preferences.export.biblatex;')
    tab(label='&better-bibtex.Preferences.export.fields;')
    tab(label='&better-bibtex.Preferences.export.misc;')

  tabpanels
    tabpanel(orient="vertical")
      checkbox(preference="pref-better-bibtex-asciiBibTeX" label="&better-bibtex.Preferences.export.bibtex.ascii;")
      checkbox(preference="pref-better-bibtex-bibtexParticleNoOp" label="&better-bibtex.Preferences.export.fields.bibtexParticleNoOp;")
      hbox
        label(bbt:preference="pref-better-bibtex-bibtexURL") &better-bibtex.Preferences.export.bibtex.URLs;
        hbox
          menulist(preference="pref-better-bibtex-bibtexURL")
            menupopup
              menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.off;" value="off")
              menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.note;" value="note")
              menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.note-url-ish;" value="note-url-ish")
              menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.url;" value="url")
              menuitem(label="&better-bibtex.Preferences.export.bibtex.URLs.url-ish;" value="url-ish")
          image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")

    tabpanel(orient="vertical")
      checkbox(preference="pref-better-bibtex-asciiBibLaTeX" label="&better-bibtex.Preferences.export.biblatex.ascii;")
      checkbox(preference="pref-better-bibtex-biblatexExtendedNameFormat" label="&better-bibtex.Preferences.export.biblatex.extendedNameFormat;")
      checkbox(preference="pref-better-bibtex-biblatexExtractEprint" label="&better-bibtex.Preferences.export.biblatex.biblatexExtractEprint;")

    tabpanel(orient="vertical")
      hbox
        label(bbt:preference="pref-better-bibtex-DOIandURL") &better-bibtex.Preferences.export.fields.doi-and-url;
        menulist(preference="pref-better-bibtex-DOIandURL" preference-editable="true")
          menupopup
            menuitem(label="&better-bibtex.Preferences.export.fields.doi-and-url.both;" value="both")
            menuitem(label="&better-bibtex.Preferences.export.fields.doi-and-url.DOI;" value="doi")
            menuitem(label="&better-bibtex.Preferences.export.fields.doi-and-url.URL;" value="url")
        image(tooltip="tooltip-bibtexURL" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
      vbox
        label(bbt:preference="pref-better-bibtex-skipFields") &better-bibtex.Preferences.export.fields.skip;:
        textbox#id-better-bibtex-preferences-skipFields(size="50" preference="pref-better-bibtex-skipFields" oninput="bbt_prefpane.refresh();" onkeypress="Zotero.setTimeout(function() { bbt_prefpane.refresh() }, 1);")
      hbox
        label(bbt:preference="pref-better-bibtex-jabrefFormat") &better-bibtex.Preferences.export.jabrefFormat;
        menulist(preference="pref-better-bibtex-jabrefFormat" preference-editable="true")
          menupopup
            menuitem(label="&better-bibtex.Preferences.export.jabrefFormat.0;" value="0")
            menuitem(label="&better-bibtex.Preferences.export.jabrefFormat.3;" value="3")
            menuitem(label="&better-bibtex.Preferences.export.jabrefFormat.4;" value="4")
            menuitem(label="&better-bibtex.Preferences.export.jabrefFormat.5;" value="5")
        image(tooltip="tooltip-jabrefFormat" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")

    tabpanel(orient="vertical")
      checkbox#id-better-bibtex-preferences-autoAbbrev(label="&better-bibtex.Preferences.auto-abbrev;" preference="pref-better-bibtex-autoAbbrev")
      separator#better-bibtex-abbrev-style-separator.thin.jurism
      label#better-bibtex-abbrev-style-label.jurism(bbt:preference="pref-better-bibtex-autoAbbrevStyle") &better-bibtex.Preferences.auto-abbrev.style;
      menulist#better-bibtex-abbrev-style.jurism(onchange="bbt_prefpane.styleChanged()")
        menupopup#better-bibtex-abbrev-style-popup
      checkbox(label="&better-bibtex.Preferences.export.qualityReport;" preference="pref-better-bibtex-qualityReport")
      checkbox(label="&better-bibtex.Preferences.export.automaticTags;" preference="pref-better-bibtex-automaticTags")
      label(bbt:preference="pref-better-bibtex-mapUnicode") &better-bibtex.Preferences.export.map-unicode;
      menulist(preference="pref-better-bibtex-mapUnicode")
        menupopup
          menuitem(label="&better-bibtex.Preferences.export.map-unicode.minimal-packages;" value="minimal-packages")
          menuitem(label="&better-bibtex.Preferences.export.map-unicode.conservative;" value="conservative")
          menuitem(label="&better-bibtex.Preferences.export.map-unicode.text;" value="text")
          menuitem(label="&better-bibtex.Preferences.export.map-unicode.math;" value="math")
