groupbox.bbt-prefs-subsection
  label
    html:h2 BibTeX
  include export/bibtex.pug

groupbox.bbt-prefs-subsection
  label
    html:h2 BibLaTeX
  include export/biblatex.pug

groupbox.bbt-prefs-subsection
  label
    html:h2(data-l10n-id='better-bibtex_preferences_export_fields')
  include export/fields.pug

groupbox.bbt-prefs-subsection
  label
    html:h2(data-l10n-id='better-bibtex_preferences_export_quick-copy')
  include export/quickcopy.pug

groupbox.bbt-prefs-subsection
  label
    html:h2(data-l10n-id='better-bibtex_preferences_advanced_tab_postscript')
  include export/postscript.pug

groupbox.bbt-prefs-subsection
  label
    html:h2(data-l10n-id='better-bibtex_preferences_tab_misc')
  include export/misc.pug
