tabbox
  tabs
    tab(label='&better-bibtex.Preferences.export.bibtex;')
    tab(label='&better-bibtex.Preferences.export.biblatex;')
    tab(label='&better-bibtex.Preferences.export.fields;')
    tab(label="&better-bibtex.Preferences.export.quickCopy;")
    tab(label='&better-bibtex.Preferences.export.misc;')

  tabpanels
    tabpanel(orient="vertical")
      include export/bibtex.pug

    tabpanel(orient="vertical")
      include export/biblatex.pug

    tabpanel(orient="vertical")
      include export/fields.pug

    tabpanel(orient="vertical")
      include export/quickcopy.pug

    tabpanel(orient="vertical")
      include export/misc.pug
