tabbox
  tabs
    tab(label='&better-bibtex_preferences_export_bibtex.label;')
    tab(label='&better-bibtex_preferences_export_biblatex.label;')
    tab(label='&better-bibtex_preferences_export_fields.label;')
    tab(label="&better-bibtex_preferences_export_quick-copy.label;")
    tab(bbt:preference="extensions.zotero.translators.better-bibtex.postscript" label="&better-bibtex.Preferences.advanced.tab.postscript;")
    tab(label='&better-bibtex_preferences_export_misc.label;')

  tabpanels
    tabpanel(orient="vertical")
      include export/bibtex.pug

    tabpanel(orient="vertical")
      include export/biblatex.pug

    tabpanel(orient="vertical")
      include export/fields.pug

    tabpanel(orient="vertical")
      include export/quickcopy.pug

    tabpanel(orient="vertical")
      include export/postscript.pug

    tabpanel(orient="vertical")
      include export/misc.pug
