html:details
  html:summary &better-bibtex.Preferences.export.bibtex;
  vbox
    include export/bibtex.pug

html:details
  html:summary &better-bibtex.Preferences.export.biblatex;
  vbox
    include export/biblatex.pug

html:details
  html:summary &better-bibtex.Preferences.export.fields;
  vbox
    include export/fields.pug

html:details
  html:summary &better-bibtex.Preferences.export.quickCopy;
  vbox
    include export/quickcopy.pug

html:details(bbt:preference='extensions.zotero.translators.better-bibtex.postscript')
  html:summary &better-bibtex.Preferences.advanced.tab.postscript;
  vbox
    include export/postscript.pug

html:details
  html:summary &better-bibtex.Preferences.export.misc;
  vbox
    include export/misc.pug
