tabbox
  tabs
    tab(label='&better-bibtex.Preferences.export.bibtex;')
    tab(label='&better-bibtex.Preferences.export.biblatex;')
    tab(label='&better-bibtex.Preferences.export.fields;')
    tab(label="&better-bibtex.Preferences.export.quickCopy;")
    tab(bbt:preference="extensions.zotero.translators.better-bibtex.postscript" label="&better-bibtex.Preferences.advanced.tab.postscript;")
    tab(label='&better-bibtex.Preferences.export.misc;')

  tabpanels(onselect='resize()')
    tabpanel(orient="vertical")
      include export/bibtex.pug

    tabpanel(orient="vertical")
      include export/biblatex.pug

    tabpanel(orient="vertical")
      include export/fields.pug

    tabpanel(orient="vertical")
      include export/quickcopy.pug

    tabpanel(orient="vertical")
      include export/postscript.pug

    tabpanel(orient="vertical")
      include export/misc.pug
