tabbox
  tabs
    tab(label='&better-bibtex_preferences_export_bibtex_label;')
    tab(label='&better-bibtex_preferences_export_biblatex_label;')
    tab(label='&better-bibtex_preferences_export_fields_label;')
    tab(label="&better-bibtex_preferences_export_quick-copy_label;")
    tab(bbt:preference="extensions.zotero.translators.better-bibtex.postscript" label="&better-bibtex_preferences_advanced_tab_postscript_label;")
    tab(label='&better-bibtex_preferences_export_misc_label;')

  tabpanels
    tabpanel(orient="vertical")
      include export/bibtex.pug

    tabpanel(orient="vertical")
      include export/biblatex.pug

    tabpanel(orient="vertical")
      include export/fields.pug

    tabpanel(orient="vertical")
      include export/quickcopy.pug

    tabpanel(orient="vertical")
      include export/postscript.pug

    tabpanel(orient="vertical")
      include export/misc.pug
