| <!DOCTYPE bindings [ <!ENTITY % _dtd-0 SYSTEM "chrome://zotero-better-bibtex/locale/zotero-better-bibtex.dtd"> %_dtd-0; ]>
html:div#zotero-better-bibtex-preferences(xmlns='http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul' xmlns:xul='http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul' xmlns:html='http://www.w3.org/1999/xhtml' xmlns:bbt='http://retorque.re/zotero-better-bibtex/')
  include prefpane.pug
