hbox
  groupbox
    caption(bbt:preference="pref-better-bibtex-importSentenceCase") &better-bibtex.Preferences.advanced.import.sentenceCase;
      image(tooltip="tooltip-importSentenceCase" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")
    radiogroup(preference="pref-better-bibtex-importSentenceCase")
      radio(label="&better-bibtex.Preferences.advanced.import.sentenceCase.on_guess;" value="on+guess")
      radio(label="&better-bibtex.Preferences.advanced.import.sentenceCase.on;" value="on")
      radio(label="&better-bibtex.Preferences.advanced.import.sentenceCase.off;" value="off")
hbox
  label(bbt:preference="pref-better-bibtex-importCaseProtection") &better-bibtex.Preferences.advanced.import.caseProtection;
  menulist(preference="pref-better-bibtex-importCaseProtection")
    menupopup
      menuitem(label="&better-bibtex.Preferences.advanced.import.caseProtection.as_needed;" value="as-needed")
      menuitem(label="&better-bibtex.Preferences.advanced.import.caseProtection.on;" value="on")
      menuitem(label="&better-bibtex.Preferences.advanced.import.caseProtection.off;" value="off")
  image(tooltip="tooltip-importCaseProtection" src="chrome://zotero-better-bibtex/skin/attention.svg" width="16" height="16")

checkbox(preference="pref-better-bibtex-aux-import" label="&better-bibtex.Preferences.citekey.AUXScanner.import;")
