hbox(flex=0)
  groupbox
    caption(bbt:preference="extensions.zotero.translators.better-bibtex.importSentenceCase") &better-bibtex_preferences_advanced_import_sentence-case;
      image(tooltip="tooltip-importSentenceCase" src="chrome://zotero-better-bibtex/content/skin/attention.svg" width="16" height="16")
    radiogroup(preference="extensions.zotero.translators.better-bibtex.importSentenceCase")
      radio(label="&better-bibtex_preferences_advanced_import_sentence-case_on_guess_label;" value="on+guess")
      radio(label="&better-bibtex_preferences_advanced_import_sentence-case_on_label;" value="on")
      radio(label="&better-bibtex_preferences_advanced_import_sentence-case_off_label;" value="off")
hbox(flex=0)
  label(bbt:preference="extensions.zotero.translators.better-bibtex.importCaseProtection") &better-bibtex_preferences_advanced_import_case-protection;
  html:select(preference="extensions.zotero.translators.better-bibtex.importCaseProtection")
    html:option(value='as-needed') &better-bibtex_preferences_advanced_import_case-protection_as_needed;
    html:option(value='on') &better-bibtex_preferences_advanced_import_case-protection_on;
    html:option(value='off') &better-bibtex_preferences_advanced_import_case-protection_off;
  image(tooltip="tooltip-importCaseProtection" src="chrome://zotero-better-bibtex/content/skin/attention.svg" width="16" height="16")

checkbox(preference="extensions.zotero.translators.better-bibtex.auxImport" label="&better-bibtex_preferences_citekey_auxscanner_import_label;")
hbox(flex=0)
  button(label="&better-bibtex_preferences_export-prefs_label;" oncommand="Zotero.BetterBibTeX.PrefPane.exportPrefs()")
  button(label="&better-bibtex_preferences_import-prefs_label;" oncommand="Zotero.BetterBibTeX.PrefPane.importPrefs()")
