tabbox
  tabs
    tab(label="&better-bibtex.Preferences.export.fields;")
    tab(bbt:preference="extensions.zotero.translators.better-bibtex.strings" label="&better-bibtex.Preferences.advanced.tab.strings;")
    // tab(label="Hidden preferences" hidden="false")

  tabpanels(onselect='resize()')
    tabpanel(orient="vertical")
      include misc/fields.pug

    tabpanel(orient="vertical")
      include misc/strings.pug

    // tabpanel(orient="vertical")
      // include misc/hidden.pug
