tabbox
  tabs
    tab(label="&better-bibtex_preferences_export_fields_label;")
    tab(bbt:preference="extensions.zotero.translators.better-bibtex.strings" label="&better-bibtex_preferences_advanced_tab_strings_label;")
    // tab(label="Hidden preferences" hidden="false")

  tabpanels
    tabpanel(orient="vertical")
      include misc/fields.pug

    tabpanel(orient="vertical")
      include misc/strings.pug

    // tabpanel(orient="vertical")
      // include misc/hidden.pug
