popupset
  tooltip#bbt-tooltip-bibtexURL
    description &better-bibtex_preferences_export_fields_doi-and-url_warning;
  tooltip#bbt-tooltip-jabrefFormat
    description &better-bibtex_preferences_export_jabref-format_warn;
  tooltip#bbt-tooltip-importSentenceCase
    description &better-bibtex_preferences_advanced_import_sentence-case_warning;
  tooltip#bbt-tooltip-importCaseProtection
    description &better-bibtex_preferences_advanced_import_case-protection_warning;
  tooltip#bbt-tooltip-exportTitleCase
    description &better-bibtex_preferences_advanced_export_title-case_warning;
  tooltip#bbt-tooltip-exportBraceProtection
    description &better-bibtex_preferences_advanced_export_brace-protection_warning;
  tooltip#bbt-tooltip-cacheRetain
    description &better-bibtex_preferences_advanced_export_retain-cache_warning;

deck#bbt-prefs-deck(selectedIndex='0')
  label &better-bibtex_preferences_prefpane_loading;

  tabbox
    tabs(onselect="Zotero.BetterBibTeX.PrefPane.refresh()")
      tab(label="&better-bibtex_preferences_tab_citekey.label;")
      tab(label="&better-bibtex_preferences_tab_export.label;")
      tab(label="&better-bibtex_preferences_tab_auto-export.label;")
      tab(label='&better-bibtex_preferences_tab_import.label;')
      tab(label='&better-bibtex_preferences_tab_misc.label;')

    tabpanels(flex=1)
      tabpanel(bbt:page='_index' flex=1 orient="vertical")
        include citekeys.pug
      tabpanel(bbt:page='export' flex=1 orient="vertical")
        include export.pug
      tabpanel(bbt:page='automatic-export' flex=1 orient="vertical")
        include autoexport.pug
      tabpanel(bbt:page='import' flex=1 orient="vertical")
        include import.pug
      tabpanel(bbt:page='miscellaneous' flex=1 orient="vertical")
        include misc.pug
