nav#navbar.navbar.is-fixed-top.is-transparent(style="\
transform: translateY(0px);\
")
  #specialShadow.bd-special-shadow(style="opacity: 0; transform: scaleY(1);")
  .container
    .navbar-brand
      a.navbar-item(href="https://retorquere.github.io/zotero-better-bibtex/")
        img(src="{{ site.url }}/assets/img/better-bibtex.svg" alt="Better BibTeX for Zotero" height="28")
      a.navbar-item.is-hidden-desktop(href="https://github.com/retorquere/zotero-better-bibtex" target="_blank")
        span.icon(style="color: #333;")
          i.fa.fa-github(aria-hidden="true")
      #navbarBurger.navbar-burger.burger(data-target="navMenuIndex")
        span
        span
        span
    #navMenuIndex.navbar-menu
      .navbar-start
        | {% for item in site.data.nav %}
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link(href="{{ site.url }}{{ item.pages.first.url }}")
            | {{ item.title }}
          .navbar-dropdown.is-boxed
            | {% for entry in item.pages %}
            a.navbar-item(href="{{ site.url }}{{ entry.url }}")
              | {{ entry.title }}
            | {% endfor %}
        | {% endfor %}

        a.navbar-item(href="{{ site.url }}/sponsoring/")
          span.bd-emoji ❤️
          | Sponsorship

      .navbar-end
        a.navbar-item.is-hidden-desktop-only(href="https://github.com/retorquere/zotero-better-bibtex" target="_blank")
          span.icon(style="color: #333;")
            i.fab.fa-lg.fa-github
        .navbar-item
          .field.is-grouped.is-grouped-multiline
            p.control
              a.button.is-primary(href="https://github.com/retorquere/zotero-better-bibtex/releases/latest" target="_blank")
                span.icon
                  i.fas.fa-download
                span Download

