doctype html
head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  title Hello Bulma!
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css")
  script(defer="" src="https://use.fontawesome.com/releases/v5.0.0/js/all.js")
section.section
  .container
    | {% include nav.html %}
    hr
    .columns
      .column.is-three-quarters
        .content
          | {{ content }}
      .column
        | {% include menu.html %}
